*{
    margin: 0;
    padding: 0;
    font-family: 'Bona Nova', serif;
}
.header
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(3, 9, 37, 0.7),rgba(84, 86, 93, 0.431)),url("banner.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 150px;
}
.nav-links
{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    position: relative;
  height: 60px;
  width: 200px;
  border-radius: 50px;
  border: none;
  outline: none;
  color: #eb3a3a;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  padding: 10px 10px;
}
.nav-links ul li a::before{
content: '';
position: relative;
background: inherit;
top: -5px;
right: -5px;
bottom: -5px;
left: -5px;
border-radius: 50px;
filter: blur(20px);
opacity: 0;
transition: opacity 0.5s;
display: none;
}
.nav-links ul li a:first-child:hover{
    background: linear-gradient(90deg, #f03a34, #eb3a3a, #f03a34, rgb(207, 26, 41));
  background-size: 400%;
  color: #fff;
}
  .nav-links ul li a:hover
  {
    z-index: 1;
    animation: glow 8s linear infinite;
  }
  .nav-links ul li a:hover:active{
    background: none;
  }
  .nav-links ul li a:hover:active:before{
    filter: blur(2px);
  }
  @keyframes glow {
    0% { background-position: 10% 0; }
    50% { background-position: 120% 0; }
    100% { background-position: 10% 0; }
  }
.contact-form
{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform:  translate(-50%,-50%);
    -ms-transform:  translate(-50%,-50%);
    -o-transform:  translate(-50%,-50%);
    width: 800px;
    height: 640px;
    padding: 80px 40px;
    background: rgba(0,0,0, 0.6);
    color: #fff;

}
.avatar
{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    top: calc(-80px/2);
    left: calc(50% -40px);
}
.contact-form h2{
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: cursive;
}
.contact-form p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;

}
.contact-form input{
    width: 100%;
    margin-top: 20px;
    

}
.contact-form input[type=checkbox],
.contact-form input[type=radio]{
    width: 10%;
    margin-top: 20px;

}
.contact-form input[type=email],
.contact-form input[type=text],
.contact-form input[type=password],
.contact-form input[type=date]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 15px;

}
.contact-form input[type=submit],
.contact-form input[type=reset]
{
    height: 30px;
    color: #fff;
    font-size: 15px;
    background: red;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;

}
.contact-form input[type=reset]
{
    background: whitesmoke;
    color: red;
}
::-webkit-input-placeholder
{
    color: rgb(206, 198, 198);
}
:-ms-input-placeholder
{
    color: rgb(206, 198, 198);
}
::-moz-placeholder
{
    color: rgb(206, 198, 198);
}
:-moz-placeholder{
    color: rgb(206, 198, 198);
    opacity: 1;
}
